# ── MLflow Tracking Server ─────────────────────────────────────  
MLFLOW_TRACKING_URI=./mlruns  
MLFLOW_EXPERIMENT_NAME=bavar_bled  
  
# ── Model Config ────────────────────────────────────────────────  
MODEL_NAME=bavar_bled_model  
PRODUCTION_STAGE=Production  
  
# ── Training Config ────────────────────────────────────────────  
START_DATE=2014-01-01
END_DATE=2024-12-31
EPISODES=20
BATCH_SIZE=128
